@import "../../variables.scss";
@import "../../main.scss";


.box{
    width:100%;
    margin-top: 4rem;
    height: 60vh;
    
    display: flex;

    @include media("<=1200px"){
        flex-direction: column;
        
    }
    @include media("<=tablet"){
        padding:10px;
        box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.13);
        height: auto;
    }
    .img{
       
        width:60%;
        height: 100%;
        position: relative;
        border: 1px solid red;
        @include media("<=1200px"){
            
            width:100%;
            height: 30vh;
            border:1px solid blue;
           
        }
        .imglayer{
            position: absolute;
            width:100%;
            height: 100%;

            transition: .3s ease-in-out;
            top:0;
            left:0;
            z-index:5;
            background: rgba(95, 158, 160, 0.473);
        }
        .image{
            
            width:100%;
           height: 100%;
            object-fit: cover;
    
        }

        &:hover{
            .imglayer{
                background: none;
            }
        }
    }
    
    .info{
        
        width:30%;
        height: 100%;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        justify-content: center;

        @include media("<=1400px"){
            width:35%;    
        }

        @include media("<=1200px"){
            width:60%;
        }

        @include media("<=1200px"){
            width:100%;
            justify-content: flex-start;
        }


        .title{
            width: 100%;

           margin-bottom:1rem;
           
            display: flex;
            justify-content:flex-end;
            @include media("<=1200px"){
                justify-content:flex-start;
        }
             h3{
                 font-size: 2rem;
                 margin-top: 10px;

                 @include media("<=tablet"){
                    font-size: 1.3rem;
            }
             }
        }

        .description{
            width: 100%;
            
            position: relative;
            
            
                .inner{
                   
                    position: relative;
                    z-index: 5;
                    width:120%;

                    transform: translateX(-20%);
                    padding:1rem;
                    border-radius: 5px;
                
                    margin-bottom: 10px;
                    background: lighten($blue , 30%);
                    color:white;
                    @include media("<=1200px"){
                        width:100%;
                        transform: translateX(0%);
                        text-align: start;
                    }
                    
                   
                   
                }
        }

        .stack{
            width: 100%;
            
            display: flex;
            justify-content:flex-end;
            align-items: center;
            flex-wrap: wrap;
            @include media("<=1200px"){
                justify-content:flex-start;
                margin-bottom:1rem;
        }
            
            .item{
                
                padding:.3rem;
               margin-top:5px;
                background: $blue;
                color:white;
                border-radius: 5px;
                margin-right:10px;
                cursor: pointer;
                &:hover{
                    color:$green
                }

                

            }
        }

        .links{
            width: 100%;
            
            display: flex;
            justify-content:flex-end;
            align-self: center;
            @include media("<=1200px"){
                justify-content:flex-start;
        }
           
            a{
                text-decoration: none;
                color:$blue;
                font-size: 2rem;
                margin-right: 10px;
               &:hover{
                   color:#303C55
               }

            }
        }
    }

  
}