@import "../../variables.scss";
@import "../../main.scss";

.jobs{
   width:100%;
   height: 70vh;
   background: white;
   

    .inner{
        width:70%;
        margin:0 auto;

        height: 40vh;
        margin-top:50px;
        display: flex;
        .buttons{
            height: 100%;
            width:13%;
           
            display: flex;
            flex-direction: column;
            
            button{
                display: block;
                width:120px;
                height: 50px;
                font-size: 18px;
                margin-top:1rem;
                background: lighten($blue, 30%) ;
                color:white;
                border:none;
                cursor:pointer;
                text-transform: uppercase;
                &:hover{
                    background: $blue;
                }
                &.active{
                    color:black;
                }
            }

        }
        .info{
            height: 100%;
            width:90%;
            padding:1rem;
           
            .compName{
                h1{

                }
            }

            .detail{
                display: flex;
                
                width:100%;
                justify-content: space-between;

                .location{
                    display: flex;
                    align-items: center;

                    h4{
                        margin-left:5px
                    }
                }
            }

            .description{
               margin-top:1rem;
                .textIcon{
                    display: flex;
                    margin-top:10px;
                    .icon{
                        margin-right: 10px;
                    }
                    p{

                    }
                }
            }
        }

        
    }
}