@import "../../variables.scss";
@import "../../main.scss";
header{
    width:100%;
    height:10vh;
    background: $blue;
    display: flex;
    align-items: center;
    
            .inner{
                display:flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                .logo{
                
                    a{
                        text-decoration: none;
                        font-family: $fontfamily;
                        font-size: 24px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color:white;
                        &:hover{
                            color:$green;
                        }

                    }
                }
                .nav{
                   
                    ul{
                       
                        list-style:none;
                        display: flex;
                        margin:0;
                        padding:0;
                      
                        li{
                            margin:0;
                            padding:0;
                            a{
                                font-family: $fontfamily;
                            color:$white;
                            padding:1rem;
                            display: block;
                            border-radius: 5px;
                            text-decoration: none;
                            font-size: 1rem;
                                &:hover{
                                    color:$green;
                                }

                            }
                        }

                        @include media("<=tablet"){
                            display: none;
                        }
                    }
                }

                .cv{
                    a{
                        text-decoration: none;
                        color:white;
                        padding:.7rem 2.5rem;
                        border-radius: 10px;
                        background: $ligth-blue;

                        &:hover{
                            background: white;
                            color:$ligth-blue;
                        }
                    }

                    @include media("<=tablet"){
                        display: none;
                    }
                   
                }

                button{
                    position: absolute;
                    display: none;
                    top:3px;
                    right:0;
                    background: none;
                    font-size: 2rem;
                    color:$green;
                    border:none;
                    cursor: pointer;


                    @include media("<=tablet"){
                        display: block;
                    }

                    
                }





            }
        
    
}