@import "../../variables.scss";
@import "../../main.scss";

.sidebar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: 100%;
    z-index: 10;
    background-color: yellow;


    ul{
        width:100%;
        margin:0;
        padding:0;
        li{
            width: 100%;
            margin:0;
            padding:0;
            a{
                padding: 1rem;
                display: block;
                border:1px solid red;
            }
        }
    }


}