@import "../../variables.scss";
@import "../../main.scss";

.blog{
    width:100%;
    height: 100%;
   cursor: pointer;
    &:hover{
        .img{
            .giamge{
                transform: scale(1.1);
            }
        }
    }

    .img{
        width:100%;
        height: 50%;
        overflow: hidden;
        
        .giamge{
            width:100%;
            height: 100%;
            object-fit: cover;
            transition: .5s ease-in-out;
           
        }
    }



    .desc{
        width:100%;
        height: 40%;
      
        padding: .7rem;
        p{
            width: 100%;
            height: 100%;
        }
    }

    .link{
        width:100%;
        height: 10%;
        display: flex;
        
       
        a{
            width: 100%;
            height: 100%;
            padding:1rem;
            text-decoration: none;
            color:white;
            display: block;
            background: $ligth-blue;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}